<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- General -->
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/style.css">
      <title>{{ title | default: "Vorox Audio" }}</title>
      <meta name="description" content="{{ description | default: 'High Quality Audio' }}">
      
      <!-- Open Graph -->
      <meta property="og:title" content="{{ title | default: 'Vorox Audio' }}">
      <meta property="og:description" content="{{ description | default: 'High Quality Audio' }}">
      <meta property="og:image" content="{{ ogImage | default: '/assets/og/default.png' }}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ page.url }}">

      <!-- Favicon -->
      <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
      <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
      <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
      <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
      <meta name="apple-mobile-web-app-title" content="VOROX Audio" />
      <link rel="manifest" href="/assets/favicon/site.webmanifest" />
    </head>

    <body class="theme-gruvbox-classic">
      
      {% include "header.liquid" %}

      <main>
        {{ content }}
      </main>

      {% include "footer.liquid" %}

    </body>
</html>
